* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
	transition: 0.6s all;
}

a:hover {
	color: blue;
	font-size: bold;
	border-bottom: 1px solid blue;
}

body {
	background-color: #ffffff;
}

/*navigation*/
nav {
	width: 100%;
	height: 300px;
}

.top {
	width: 70%;
	height: 40px;
	margin: 0 auto;
}

.top ul {
	display: flex;
	justify-content: flex-end;
	transform: translateY(-30px);
	list-style: none;
}

.top ul li {
	border-right: 1px solid gray;
	margin-right: 5px;
	padding-right: 5px;
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
}

.topLogo {
	width: 10%;
	height: 40px;
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.mainNav {
	width: 70%;
	height: 80px;
	margin: 0 auto;
}

.mainNav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.mainNav ul li {
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
}

.mainNav ul li:hover {
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
	color: #6b6bff;
	font-weight: bold;
	border-bottom: 3px solid #6b6bff;
	transition: 0.6s all;
}

.logo {
	width: 20%;
	height: 80px;
	background-image: url(images/0000127691_001_20180614163639577.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.navImg {
	width: 100%;
	height: 280px;
	margin: 0 auto;
	background-image: url(images/39.jpg);
	background-size: 700px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #37709a;
}

/*section*/
table {
	border: 1px solid #d3d3d3;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

h2 {
	width: 40%;
	margin: 0 auto;
}

table, h2 {
	transform: translateY(120px);
}

.cNum {
	width: 50px;
	border-right: 1px solid #a5a5a5;
	background-color: #f4f4f4;
}

.cTitle {
	border-right: 1px solid #a5a5a5;
	background-color: #f4f4f4;
}

.cWriter {
	width: 150px;
	border-right: 1px solid #a5a5a5;
	background-color: #f4f4f4;
}

.cDate {
	width: 100px;
	background-color: #f4f4f4;
}

.cNumL {
	width: 50px;
	border-right: 1px solid #a5a5a5;
	font-size: 14px;
}

.cTitleL {
	border-right: 1px solid #a5a5a5;
	font-size: 14px;
}

.cWriterL {
	width: 150px;
	border-right: 1px solid #a5a5a5;
	font-size: 14px;
}

.cDateL {
	width: 100px;
	font-size: 12px;
}

.pageCount {
	position: relative;
	left: 40%;
	top: 150px;
}

.wbtn {
	position: relative;
	left: 67%;
	top: 130px;
}