@charset "utf-8";

* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: black; }

body { background-color: #fff; }
body * { box-sizing: border-box; }
.clearfix::after { content: ''; display: block; clear: both; }
.ho { float: left; }



/* 크기 */

/* 슬라이드 크기 */
.container { width: 1200px;  margin: 0 auto; }

.slide { width: 90%; height: 300px; margin: 0 auto; }

.hidden { width: 800px; height: 300px; margin: 0 auto;  overflow: hidden; position: relative; }

.frame { width: 100%; height: 300px;  }

.slide-img { width: 800px; height: 300px; }


/* 콘텐츠 크기 */

.content  { width: 90%;  margin: 100px auto; }

.tab-wrap { width: 60%; height: 40px; line-height: 40px; margin-left: 50px;}

.tab li { width: 14.285%; height: 100%; }


.con-img { width: 180px; height: 250px; margin: 10px auto;}

.con p, span { width: 180px; height: 20px; margin: 0 auto; }

.con span { display: block; }

.con { width: 33%; height: 370px;  }

.con-wrap { width: 100%; height: 1200px; }


/* 슬라이드 이미지 */

.img1 { background-image: url(../images2/슬라이드1.jpg); }
.img2 { background-image: url(../images2/슬라이드2.jpg); }
.img3 { background-image: url(../images2/슬라이드3.png); }


/* 슬라이드 */
.slide { position: relative; background-color: rgb(250, 232, 226); }

.slide .left { left: 10px; top: 120px; }

.slide .right { right: 10px; top: 120px; }

.slide-img { position: absolute; background-repeat: no-repeat; background-size: 800px 300px;}






/* 탭 */

.tab{ background-color: #fff;  }

.tab li { text-align: center;  border: 1px solid rgb(248, 248, 248); border-bottom: none; cursor: pointer; background-color: rgb(248, 212, 227); }

.tab li a { color: rgb(207, 30, 113); }


.tab .on  { background-color: #fff;  border: 1px solid rgb(231, 164, 164); border-bottom: none; z-index: 13; position: relative; }

.tab .on a { color:  rgb(219, 29, 108);  font-weight: bold;  }


/* 콘텐츠 */


.con-wrap { border: 1px solid rgb(231, 164, 164); top: -1px; position: relative; z-index: 10; padding-top: 50px; background-color: #fff;}

.con-img { background-size: 180px 250px ; background-repeat: no-repeat; }

/* 콘텐츠 이미지 */

.cm1 { background-image: url(../images2/서울축제1.png);}
.cm3 { background-image: url(../images2/제주도2.jpg); }
.cm2 { background-image: url(../images2/부산.jpg); }
.cm4 { background-image: url(../images2/서울2.jpg); }
.cm5 { background-image: url(../images2/춘천.jpg); }
.cm6 { background-image: url(../images2/전주.png); }
.cm7 { background-image: url(../images2/부산3.jpg); }
.cm8 { background-image: url(../images2/여수.jpg); }
.cm9 { background-image: url(../images2/제주도.jpg); }



/* 메인 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url(images/toy-car-3435890_1920.jpg);
}

nav {
    margin-bottom: 50px;
    background-color: #ffebef;
    border-bottom: 1px solid #bababa;
}

.navigation {
    display: flex;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffebef;
}

.navigation ul li {
    font-size: 16px;
    font-weight: bold;
}

.navigation ul li:hover {
    font-size: 16px;
    font-weight: bold;
}

.logo img {
    position: relative;
    width: 50px;
    left: 70px;
}

.navigation ul {
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.login {
    position: relative;
    top: 15px;
    right: 30px;
    font-size: 14px;
}

.join {
    position: relative;
    top: 15px;
    right: 10px;
    font-size: 14px;
}


.slide {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    overflow: hidden;
}

.slide img {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-left: 400px;
    transition: 0.6s all;
}

.fas {
    position: relative;
    font-size: 50px;
    cursor: pointer;
    top: 200px;
}

.fa-angle-left {
    left: 200px;
}

.fa-angle-right {
    left: 1000px;
}

.board {
    position: relative;
    border: 1px solid black;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 93px;
}

footer {
    width: 100%;
    display: flex;
    background-color: rgba(74, 74, 74, 0.88);
}

.foot {
    width: 1200px;
    height: 150px;
    background-color: rgba(74, 74, 74, 0);
    margin: 0 auto;
}

.foot p {
    position: relative;
    width: 350px;
    top: 10px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: white;
}

.best,
.new,
.special {
    border: 1px solid green;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.11);
}

.best p,
.new p,
.special p {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid grey;
}

.best a,
.new a,
.special a {
    position: relative;
    left: 340px;
    font-size: 14px;
    color: grey;
    font-weight: bold;
}

.best a:hover,
.new a:hover,
.special a:hover {
    color: black;
    transition: 0.6s all;
}

#map {
    position: relative;
    width: 200px;
    height: 120px;
    right: 500px;
    opacity: 0.9;
    top: 15px;
}

.board_title {
    width: 1000px;
    margin-left: 360px;
}


.board_title p {
width: 100px;
display: block;
}

.bd1 {
    float: left;
}

.bd2 {
    margin-left: 300px;
    float: left;
}

.bd3 {
    margin-left: 800px;
}

.body2 {
    width: 100%;
    margin: 0 auto;
}


.board .best .tab-menu {
    width: 90%;
    height: 93%;
    top: -25px;
    border-bottom: 1px solid black;
}
