* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

nav {
	margin-bottom: 50px;
	background-color: #ffebef;
	border-bottom: 1px solid #bababa;
}

.navigation {
	display: flex;
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	background-color: #ffebef;
}

.navigation ul li a {
	font-size: 16px;
	font-weight: bold;
}

.navigation ul li a:hover {
	font-size: 16px;
	font-weight: bold;
	color: orange;
}

.logo img {
	position: relative;
	width: 50px;
	left: 70px;
}

.navigation ul {
	display: flex;
	width: 800px;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}

.login {
	position: relative;
	top: 15px;
	right: 30px;
	font-size: 14px;
}

.join {
	position: relative;
	top: 15px;
	right: 10px;
	font-size: 14px;
}

.intro {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 100px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.intro table {
	margin: 10px;
	padding: 20px;
}

.intro table td {
	padding: 10px;
	font-size: 15px;
}

.title1 {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
	border-bottom: 2px solid #ffa8b7;
}

.intro2 {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.title2 {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
}

footer {
	width: 100%;
	display: flex;
	background-color: rgba(74, 74, 74, 0.88);
}

.foot {
	width: 1200px;
	height: 150px;
	background-color: rgba(74, 74, 74, 0);
	margin: 0 auto;
}

.foot p {
	position: relative;
	width: 350px;
	top: 10px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	color: white;
}

.best, .new, .special {
	border: 1px solid green;
	width: 400px;
	background-color: rgba(128, 128, 128, 0.11);
}

.best p, .new p, .special p {
	width: 100px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid grey;
}

.best a, .new a, .special a {
	position: relative;
	left: 340px;
	font-size: 14px;
	color: grey;
	font-weight: bold;
}

.best a:hover, .new a:hover, .special a:hover {
	color: black;
	transition: 0.6s all;
}

#map {
	position: relative;
	width: 200px;
	height: 120px;
	right: 500px;
	opacity: 0.9;
	top: 15px;
}






.body {
  width: 1200px;
  margin: 0 auto;
}

.body h1 {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-size: 40px;
}

.history {
  width: 950px;
  height: 100px;
  margin-left: 15px;
}

.contents {
  width: 100%;
  height: 700px;
}

.mission,
.vision {
  width: 40%;
  height: 150px;
  position: relative;
  float: left;
  margin: 0 auto;
  margin-left: 15px;
  margin-top: 10px;
}

.value {
  margin-top: 20px;
  width: 900px;
  height: auto;
  position: relative;
}

.value>h3 {
  margin-top: 200px;
  margin-left: 20px;
}

.value>ul>li {
  margin-top: 50px;
  width: 300px;
  height: 200px;
  float: left;
  margin-left: 20px;
}

.value>ul>li:nth-child(2),
.value>ul>li:nth-child(4) {
  margin-left: 200px;
}

